body {
  align-content: center;
}
.reserve_wrapper {
  width: 375px;
  height: 689px;
  text-align: center;
}

.reserve_header .temp_banner {
  border-bottom: 1px solid #d8d8d8;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #4b4b4b;
}
