div {
  margin:auto;
}

.reserve_wrapper {
  width: 375px;
  text-align: center;
}


.reserve_header .temp_banner {
  height:39px;
  border-bottom: 1px solid #d8d8d8;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #4b4b4b;
}

.reserve_header .temp_banner span {
  color: #28d2fa;
}

.reserve_header .banner {
  height:49px;
}

.reserve_page {
  background-color: #eaf7fb;
}

h1 {
  width: 345px;
  height: 40px;
  font-family: NotoSansCJKkr;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #4b4b4b;
}

h3 {
  width: 345px;
  height: 56px;
  font-family: NotoSansCJKkr;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #4b4b4b;
}

h2 {
  width: 345px;
  height: 72px;
  font-family: NotoSansCJKkr;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #4b4b4b;
}
